
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins&family=Quicksand&family=Roboto+Mono&display=swap');
/*
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto Mono', monospace;
*/
*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: 'Poppins', sans-serif;
}
a{
	text-decoration: none;
}
body{
	background-color: #F2F2F2;
	overflow-x: hidden;
}

ol, ul {
	padding-left: 0;
}
.navbar-mobile{
	display: none;
}
.navbar-custom{
	height: 8vh;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	position: fixed;
	background-color: rgba(250, 250, 250, 0.1);
	backdrop-filter: blur(4px);
	top: 0;
	z-index: 99;
}
.navbar-custom i.fa-close{
	display: none;
}
.logo{
	font-family: 'Roboto Mono', monospace;
	font-size:25px;
	margin-left: 5%;
	color:#254418;
	font-weight:600;
} 
.link{
	display: inline-flex;
	margin-right: 5%;
	margin-top: 15px;
} 
.link .link-item{
	padding: 15px;
	font-size: 15px;
	color: #262323;
	margin: 5px 1vw ;
	text-decoration: none;
}
.link .link-item:hover{
	color: #254418;
	border-bottom: 3px solid #254418;
}
.active{
	color: #254418;
	border-bottom: 3px solid #254418;
}
.link .btn-galang{
	background-color: #51D060; 
	font-weight: bold;
	color: white;
	border-radius: 50px;
	padding: 7px;
	text-decoration: none;
}


/* container  */

.container-custom{ 
	background-color: #F4F4F4;
	padding: 15px;
	height: 100vh;
	width: 100%;
	margin-top: 8.2vh;
}
.paragraph{
	width: 50%;
	margin-left: 5% ;
}
.img{
	margin-right: 5%;
	border-radius: 10px; 
	height: 85vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../images/donasi.png'); 
}
.paragraph h1{
	font-weight: bold;
	margin: 100px 100px 0 0; 
}
.paragraph p{
	width: 70%;
	margin-top:10px;
	font-style: italic;
}
.paragraph a{ 
	padding: 10px;
}
.paragraph  .button1{
	background-color: #51D060; 
	color: white;
	border-radius: 5px;
}
.paragraph  .button2{
	color: #254418;
	margin-left: 20px; 
	border-radius: 5px;
}
.paragraph  .button2:hover{
	transition: 0.2s;
	color: #254418;
	background-color: #51D060;
}
.paragraph .box-dana{
	margin: 25px 0 25px 0 ;
	display: flex;
	flex-wrap: wrap;
}
.paragraph .box-dana p{
	font-size: 13px;
	width: 140px;
	margin: 8px;
	line-height: 25px;
	font-style: normal;
}

.paragraph .box-dana p b{
	font-size: 16px;
}

/* about */
.container-about {
	background-color: #46F38B; 
	height: 30vh;
	width: 100%;
	margin-top: 3rem; 
	justify-content: center;
}
.img-2{ 
	margin-right: 5%;
	border-radius: 10px; 
	height: 35vh;
	width: 30%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../images/donasi.png'); 
}

.container-about .logo{
	width: 100%;
	height: 144px; 
	background-color: #F2F2F2;
}

.container-about .logo .about-logo {
	width: 288px;
	height: 288px;
	margin: auto;
	border-radius: 100%;
	border: 10px solid #F2F2F2;
	background: #46F38B; 
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo .about-title{
	display: flex;
	justify-content: center;
}

.logo .about-title h3{
	font-size: 33px;
	color: #fff;
}

.logo .about-body {
	margin-left: 5%;
	margin-right: 5%;
	height: 50%;
}

.about-logo i{
	font-size: 1px;
	color: #fff;
}



/* kategori */
.container-kategori{
	margin: auto;
	width: 90%;
	height: 48vh; 
	background-color: #FBF9F9;
	padding: 45px; 
	border-radius: 10px;
}
.container-kategori h3{
	font-size: 33px;
	font-weight: bolder;
}
.container-kategori h5{ 
	font-size: 23px;

}

.container-kategori .box-kategori{ 
	margin: 15px auto;
	display: flex;
	width: 90%; 
}
.container-kategori .box { 
	padding: 10px;  
	width: 140px;
	height: 100px;
}
.container-kategori .box a {  
	color: #1B1B1B;
	font-weight: bold;
}

.container-kategori .box-kategori i{
	color: white; 
	background-color: #51D060;
	font-size: 30px;
	padding:30px;
	border-radius: 50%;
	margin-bottom: 5px;
}
.container-kategori .box a:hover {  
	color: #1B0FB3;
}

/* about */
.container-about {
	background-color: #46F38B; 
	height: 80vh;
	width: 100%;
	margin-top: 3rem; 
	justify-content: center;
}

.container-about .logo{
	width: 100%;
	height: 144px; 
	background-color: #F2F2F2;
}

.container-about .logo .about-logo {
	width: 200px;
	height: 200px;
	margin: auto;
	border-radius: 100%;
	border: 20px solid #F2F2F2;
	background: #46F38B; 
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo .about-title{
	display: flex;
	justify-content: center;
}

.logo .about-title h3{
	font-size: 33px;
	color: #fff;
}

.logo .about-body {
	margin-left: 5%;
	margin-right: 5%;
	height: 50%;
}

.about-logo i{
	font-size: 10rem;
	color: #fff;
}

/* Donasi */
.container-donasi{
	margin: 5% 0;
	width: 100vw;
}
.container-donasi .row{
	margin: auto;
	overflow-x: scroll ;
	overflow-y: hidden ;
	display:flex; 
	flex-wrap: nowrap; 
	align-items: center;
	height: 85vh;
	width: 100vw;
}

.card-custom{ 
	width: 300px;
	background-color: white;
	padding-top: 10px;
	height: 500px;
	border-radius: 10px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); 
}
.card-custom:hover{
	transition: 0.5s;
	margin-top: -5px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.card-custom h5{
	font-size: 15px;
	font-weight: bold;
}
.card-custom .badge-custom{
	border-radius: 10px;
	color: whitesmoke;
	height: 20px;
	width: 75px;
/*	padding:0 6px ;*/
	font-size: 12px;
}
.card-custom .container-bar{
	margin:auto;
	background-color: #AEACAC;
	border-radius: 10px;
	height: 10px;
	width: 90%;
}
.card-custom .container-bar .bar{
	background-color: #F6CD0D;
	border-radius: 10px;
	height: 10px;
	
}
.card-custom .text{
	margin-bottom: 35px;
	margin-left: 10px;
	font-size: 11px;
}
.card-custom .text i{
	color: #AC8E03;
}
.card-custom .button{
	cursor: pointer;
	margin: 0 auto;
	width: 90%; 	
	text-align: center;
	background-color: #5873F9;
	padding: 5px;
	color: white;
	border-radius: 5px; 
}

.card-custom .button:hover{
	color: black;
}
#card-kesehatan .card-custom .container-bar .bar{
background-color: royalblue;
	}
#card-hewan .card-custom .container-bar .bar{
background-color: green;
	}
#card-bencana .card-custom .container-bar .bar{
background-color: orangered;
	}
/* album */
.container-album {
	width: 100%;
	margin-top: 3rem;
	justify-content: center;
}

.container-album .title{
	font-size: 33px;
}

.container-album .text{
	font-size: 14px;
	font-style: italic;
}

.album{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-right: 5%;
	margin-left: 5%;
}

.album .image {
	width: calc(100%/4);
	padding: 7px;
	overflow: hidden;
	max-height: 250px;
}

.album .image span {
	width: 100%;
	display: flex;
	overflow: hidden;
}

.album .image img{
	width: 100%;
	height: 344px;
	transition: all 0.3s ease;
	object-fit: cover;
}

.album .image:hover img{
	transform: scale(1.1);
}

/* popalbum */
.popup-album{
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	margin: auto;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.6);
}

.popup-album img{
	width: 75%;
	object-fit: cover;
}

.popup-album i{
	position: absolute;
	color: #fff;
	font-size: 3rem;
	top: 10px;
	right: 20px;
} 

/* footer  */
.footer{ 
	background-color: #46F38B;
	padding-top: 40px;
	padding-bottom: 10px;
} 
.footer a{
	color: #1B1B1B;
}
.footer .box-1 {
/*	text-align: left;*/
/*	width: 40%;*/
	margin-left: 5%; 
}
.footer	.box-1 li a i{ 
	padding: 6px;
}
.footer .box-2{
	text-align: right;
	width: 40%;
	margin-right: 5%;
}
.footer	.box-2 li a:hover{
	color: white;
}


.footer .copyright{
	display: flex;
	justify-content: center;
	margin-left: 5%;
}

.footer	.box-1 li a:hover{ 
	color: #fff;
}

.footer	.box-1 li a .fa-whatsapp:hover{ 
	background-color: white;
	border-radius: 50%;
	color: #51D060;
}
.footer	.box-1 li a .fa-facebook-f:hover{ 
	background-color: white;
	border-radius: 30%;
	color: #0825FE;
}
.footer	.box-1 li a .fa-twitter:hover{ 
	background-color: white;
	border-radius: 50%;
	color: #0825FE;
}




@media screen and (max-width:500px){
	.navbar-mobile{
		width: 100vw;
		height: 7vh;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: transparent;
		position: fixed;
		background-color: rgba(250, 250, 250, 0.1);
		backdrop-filter: blur(4px);
		top: 0; 
		bottom: 0;
	}
	.navbar-mobile label#btn-open{
		display: block;
		cursor: pointer;
		margin-right: 30px;
		padding: 10px;
		background-color: #fff;  
	} 
	.navbar-mobile label#btn-open:hover{
		transition: 0.5s;
		border-radius: 10%;
		background-color: #333; 
		color: white; 
	}
	.navbar-custom{
		display: none;
		justify-content: center;
		align-items: unset;
		position: fixed;
		width: 80vw;
		height: 100vh; 
		background-color: #fff;
		right: 0;
		margin: 0;
		flex-wrap: wrap;
		transform: translateX(100%);
		z-index: 9999;
	}
	.navbar-custom .logo{
		height: 30px;
		width: 100%; 
		display: flex;
		justify-content: right;
		margin: 0 0 0 0;
	}
	.navbar-custom .logo i.fa-solid, 
	.navbar-custom .logo span{
		display: none;
	}
	.navbar-custom .logo i.fa-close{
		display: block;
		cursor: pointer;
		margin: 15px 20px 0 0;
	} 
	.navbar-custom ul.link{
		display: block;
		height: 80%;
		width: 100%; 
		margin-top: 0;
	}
	.navbar-custom ul.link li{
		padding: 20px;
		text-align: center;
	}

}